.header{
  border-bottom: 1px dotted;
}
.logo{
  width: 50px;
}
.aside{
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(/assets/images/sidebar-bg/01.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 18px 3px #443b3b;
}
.aside::before{
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #000000d1;
  z-index: -1;
}
.list {
  font-size: 1.1em;
  overflow-y: auto;
}
.item:hover {
  background-color: #4e454582;
  border-radius: 18px;
}
