<div class="header col-12 offset-xl-2 col-xl-10 px-4 py-3 justify-content-between d-flex align-items-center">
  <div class="leftsection">
    <i class="me-4 d-inline d-xl-none fa-solid fa-bars"></i>
    <a><i class="me-4 fa fa-qrcode"></i></a>
    <a><i class="me-4 fas fa-chart-line"></i></a>
    <a><i class="me-4 far fa-edit"></i></a>
    <a><span>Apps</span></a>
    <a><i class="ms-1 fa-solid fa-caret-down"></i></a>
  </div>
  <div class="rightsection">
    <a><i class="ms-4 fas fa-globe"></i></a>
    <a><i class="ms-4 far fa-comment"></i></a>
    <a><i class="ms-4 far fa-bell"></i></a>
    <a>
      <img class="ms-5 profilPic" src="assets/images/avatar-s-15.jpg" alt="">
      <i class="ms-1 fa-solid fa-caret-down"></i>
    </a>
  </div>
</div>
